@{
    //ViewBag.Title = "Index";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<div>
    <img src="http://tinyurl.com/lf-suhbg" class="fullWidth" />
</div>
<div class="customInlineBlock thirdWidth">
    <h3>TITLE</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
</div>
<div class="customInlineBlock thirdWidth">
    <h3>TITLE</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
</div>
<div class="customInlineBlock thirdWidth">
    <h3>TITLE</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
</div>
