﻿@{
    ViewBag.Title = "Work";
}

<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" /> <br />
    <p>Work Sample 1</p>
</div>

<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" /> <br />
    <p>Work Sample 2</p>
</div>

<br />

<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" /> <br />
    <p>Work Sample 3</p>
</div>

<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" /> <br />
    <p>Work Sample 4</p>
</div>